{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h1>Notre histoire</h1>
    <p>Dulcibelle est née d'une passion pour les soins naturels et le bien-être. Fondée en 2025, notre marque marocaine s'engage à offrir des produits cosmétiques de haute qualité, respectueux de votre peau et de l'environnement.</p>
    <p>Notre sérum anti-tâches est le fruit de mois de recherche pour combiner l'efficacité des actifs naturels avec le savoir-faire artisanal.</p>
</div>
{% endblock %}